
body {
	height: 100%;
	overflow: auto;
}
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgreen; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: green; 
}




.money, .level,.addBtnDetails,.addBtnTitle {
	cursor: default;
}
.playBox {
	right: 0;
}
.btnHolder {
	height: 60px;
	line-height: 60px;

}
.addBtnDetails {
	width: 60%;
	float: right;
	height: 61px;
	line-height: 20px;
}
.addBtnTitle {
	float: clear;
}
.addBtn {
	height: 60px;
	line-height: 48px;
	width: 60px;
}
.addBtnLabel {
	float: right;
	width: calc(100% - 60px);
}
.mat {
	display: flex;
  flex-direction: row;
  height: 90%;
}
.arena,.playBox {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}
.btnBox {
	overflow: auto;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}